body {
    display:flex;
    flex-direction: column;
    margin: 0px;
    overflow: hidden;
    height: 100vh;
 
    
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: baseline;
}


.header_h2 {
    font-size: 24px;
    color: #F9F8FA;
    padding-left: 100px;
    display: flex;
    flex-basis: 30em;
  
}

.link_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.links {
    color: white;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
   
}



.info {
    background-color: #1F2937;
    padding-left: 100px;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    height: auto;
}

.img_container {
    display: flex;
    padding-right: 100px;
    padding-top: 40px;

}

img {
    border-radius: 10px;
    box-shadow: 10px 10px rgb(32, 32, 50);
    flex: 1;

}

.info_2 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: flex-start;
    font-size: 35px;
}

.info_2 p {
    color: #E5E7EB;
    font-size: 16px;
    margin-top: 0;
}

.info_2 h1 {
    margin: 0;
    padding-top: 60px;
}

.info_2 button {
    width: 100px;
    background-color: #3882F6;
    border-radius: 8px;
    border-color: transparent;
    color: white;
}
.body {
    margin-top: 0;
}
