body {
    display:flex;
    flex-direction: column;
    margin: 0px;
    overflow:scroll;
    height: 100vh;
 
    
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: baseline;
}


.header_h2 {
    font-size: 24px;
    color: #F9F8FA;
    padding-left: 100px;
    display: flex;
    flex-basis: 30em;
  
}

.link_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.links {
    color: white;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
   
}



.info {
    background-color: #1F2937;
    padding-left: 100px;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    height: auto;
}

.img_container {
    display: flex;
    padding-right: 100px;
    padding-top: 40px;
    box-shadow: 10px 10px rgb(32, 32, 50);

}

img {
    border-radius: 10px;
    flex: 1;


}

.info_2 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: flex-start;
    font-size: 35px;
}

.info_2 p {
    color: #E5E7EB;
    font-size: 16px;
    margin-top: 0;
}

.info_2 h1 {
    margin: 0;
    padding-top: 60px;
}

.info_2 button {
    width: 100px;
    background-color: #3882F6;
    border-radius: 8px;
    border-color: transparent;
    color: white;
}
.body {
    margin-top: 0;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto;
    height: 300px;
}

.info_container {
   
    border-color: #3882F6;
    border-width: 10px;
    display: flex;
    height: 200px;
}


.column_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    background-color: #3882F6;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    color:white;
    width: 500px;
    gap: 30px;
    margin-bottom: 50px;
}

.signup button {
    border-radius: 10px;
    border-color: white;
    background-color: #3882F6;
    color: white;
    border-style:groove;
   
}

